.card{
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 25px ;
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s;
}
img{
  width: 100%;
  border-radius: 25px ;
}

#pets{
display: flex;
justify-content: space-evenly;

}
h2{
  color: #d56f3e;
}
span{
  color: #9d6f24;
}
h4{
  text-align: right;
  color: #3c787e;
}
@media (min-width: 375px) {
  #pets{
      display: flex;
      flex-wrap: wrap;
      }
}
.yak{
  height: 300px;
}


